*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
  
    text-decoration: none;
    list-style: none;
}
html{
    scroll-behavior: smooth;
}
.navbar{
    transition: 1s;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
    background: rgba(0, 0, 0, 0.1);
}
.navbar-toggler{
    background: rgb(31, 87, 87);
}
body{
    
     
     
       
        font-family: "Montserrat", sans-serif;
    
   
 background-image:linear-gradient(rgba(39,39,39,0.1),transparent),url("img/k (1).jpg");
 background-size: cover;
 background-repeat: no-repeat;
 background-attachment: fixed;  

 /* background-color:linear-gradient(rgba(39,39,39,0.1),transparent); */
 
 
}
.navbar-brand{
    font-family:serif;
    font-weight: 500;
    color: white;
    font-size: 25px;
}
.navbar-brand:hover{
    color: white;
}
.nav-item{
    font-family:serif;
    
}
.nav-link{
    color:white;
}
.nav-link:hover{
  color:white;
    border-bottom:1px solid teal;
  
}
.active a{
    color: lightseagreen;
}

/***********************Home page***********************************/
/*************************top section********************************************************/
.home-content{
    margin-top: 20px;
   font-family: serif;
}
.home-title{
    display: flex;
    justify-content: center;
    gap:8px;
  
}
.home-title h3{
    color: white;
    font-family: inherit;  
    font-size: 30px;
}
.home-title span{
    font-family: inherit;
    font-size: 30px;
    color: teal;
}
.home-btn{
    padding: 8px;
    background-color:lightseagreen;
    color: white;
    font-family: serif;
    width: 100px;
}
.home-btn:hover{
background:teal;
color:white;
}
.read-btn{
    font-family: serif;
  width: 100px;
  color: white;
    background-color: rgba(0, 0, 0, .1);
  border-color: teal;
  }
  .read-btn:hover{
      background: teal;
      color: white;
  }  
.login-btn{
    background-color:rgb(53, 99, 96);
    color: black;
    font-family: serif;
   border-radius: 10px;
   margin-left: 10px;

}


.usr--info i{
    color:black;
}



/***************info--section*****************/
.content{
    margin: auto;
}

.info-content{
   padding: 30px;
    margin: auto;
    text-align: center;
    
}
.info-content h5{
text-align: center;
font-size: 30px;
padding-top: 70PX;;

}
.info-content span{ 
color: teal;

}
.info-content .info-p{
    font-size: 18px;
    color: slategrey;
    padding: 20px;
}


.expanses-amount{
   display: flex;
   justify-content: space-between;     
}

/************************balanse section************************************************/

.balanace-section{
    background: whitesmoke;
    padding: 50px;

}
 .balance-col{
   /* padding: 50px; */
   margin-top: 25px;
   
} 
.balance-col .finanacial-a{
    text-decoration: none;

    padding: 8px;
    border-radius: 12px;
    background: rgba(0, 0, 0, .1);
} 
.balance-col .card-body{
    margin-top: 15px;
    text-align: left;
    
 }  
.last-month-card{
    background: white;
    height:100%;
    border-radius: 10px;
    padding: 20px;
    transform: scale(1.01);
   
}

.card-body .btn{
    background: rgba(0, 0, 0, .1);
    border-color: teal;
}

.income-balance{
    padding-bottom: 20px;
    margin: auto;
}
 
.incom-home-card{
  
    height: 60vh;
   
}
.expenses--card{
   
    border-left: 4px solid teal;
  
    display: flex;
    justify-content: space-between;
    /* padding: 10px; */
}
.expenses--card img{
    width: 50px;
    height: 50px;
    border-radius: 30px;
    object-fit: cover;
}

.expenses-price{
    font-size: 20px;
    font-weight: 100;
    /* margin-top: 10px; */
}
.income--card{
    border-left: 4px solid teal;
   
    display: flex;
    justify-content: space-between; 
    /* padding: 10px; */
}
.income--card img{
    width: 50px;
    height: 50px;
    border-radius: 30px;
    object-fit: cover;
}
.income-price{
    font-size: 20px;
    font-weight: 100;
    margin-top: 10px;
}

h5{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;  
}
.img-home img{
    width: 100%;
    height: 300px;
    margin-top: 12px;

   
}
.text-content{
   
    margin: auto;
}



.treansection--section{
    padding-bottom: 100px;
    padding-top: 100px;
}

/*************************home-transection-section****************************/
.home-transection-section{
background: white;
    padding-bottom: 100px;
    padding-top: 100px;
   
    
}

.card-body img{
    width: 30px;
    height: 30px;
    border-radius: 60px;
    margin: 5px;
}
 
/**********************************saving-section *********************************/
.saving-section{
  
   background:whitesmoke;
     /* background: rgb(239, 241, 243); */
 
   
    padding-bottom: 50px;
 
}
.saving-card .card-body{
   margin-top: 15px;
   text-align: left;
   
} 
.saving-card {
    margin-top: 100px;
   
 }  
 .saving-card .saving-a{
     padding: 8px;
     border-radius: 12px;
     background: rgba(0, 0, 0, .1);
    
     text-decoration: none;
 }
 

.new-home span {
    font-size: 30px;
    color: teal;
    padding: 10px;
    background: rgba(0, 0, 0, .1);
    border-radius: 3px;
    margin-right: 6px;
}
.new Home{
  
    text-align: left;
    font-size: 16px;
    font-weight: 100;

}
.saving-amoount{
    display: flex;
    justify-content: space-between;
}
.saving-inner-card{
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
    border-left: 2px solid teal;
  
    /* float: right;
    */
}


.saving-inner-card .progress{
    height: 6px;;
}

/*******************************************Last section pf leading page *****************************************************/
.last-section{
    background-color: white;
    padding-bottom: 100px;
   
}
/* .accordino-menu{
    
    margin: 0 auto;
} */
.acc-col{
    margin: 0 auto;
 
  
}
.accordino-menu input[type=radio]{
    display: none;
}
.accordino-menu label{
    display: block;
    height: 70px;
    padding: 0 30px 0 15px;
    /* background: teal; */
    color: black;
    position: relative;
    cursor: pointer
    ;
    border-bottom: 1px solid #cccccd;
    font-family: inherit;
   
    
}
.accordino-menu label::after{
    display: block;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 10px;
    border-color: transparent transparent transparent black;
    ;
    position: absolute;
    right: 10px;;
    top: 20px;
    z-index: 10px;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.accordino-menu .content-accordino{
    max-height: 0;
    height: 0;
    overflow: hidden;
    -webkit-transition:all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -ms-transition:all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;

}
.accordino-menu .content-accordino .inner{
    font-size: 16px;
    color:  #9799ab;
    line-height: 1.5;
 
    padding: 20px 10px;

}
.accordino-menu input[type=radio]:checked +label:after{
    -webkit-transform: rotate(90deg);
    -moz-transform:  rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform:  rotate(90deg);
    transform:  rotate(90deg);
}
.accordino-menu input[type=radio]:checked +label+.content-accordino{
    max-height: 2000px;
    height: auto;
}

/**********************************footer-section ******************************************/
.top-footer-section{
    color:white;
    transition: 1s;
   
    border-color: rgba(0, 0, 0, 0.5);
    transition: 1s;
 
     background: transparent;
   
   
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
   
    transition: 0.5s; 

    text-align: center;
 
   padding-bottom: 20px;
   
  

}
.link-row{
    padding-top: 20px;
    padding-bottom: 20px;
   
}
.link-row a{
    text-decoration: none;

    color:white;
   
    font-size: 16px;
    font-weight: 100;
}
.link-row a:hover{
    color: teal;
    cursor: pointer;
   
    margin-left: 1rem;
 
}
.link-row span{
    padding: 6px;
}
.link-row ul li{
    text-align: left;
}

.top-footer-section h3{
margin-bottom: 40px;
    font-size: 20px;
    font-weight: 100;
    color: lightseagreen;
   
   
  
}
.top-footer-section h5{
color: white;
}
.top-footer-section img{
    width: 200px;
    height: 200px;;
    border-radius: 200px;
    object-fit: cover;
    margin-top: 20px;
}
.social-media {
  display: flex;
float: right;
}
.media-info li span{
    color: white;
    margin-right:6px;
    font-size:10px;
}
 .social-media .media-info li{
    font-size:1.4em;
}
.social-media .media-info li:hover{
    color: teal;
    margin: 0;
}
.media-info{
    margin-right: 30px;
}
.media-info li:not(:last-child){
    margin-bottom: 10px;
    font-size: 1.4em;
    /* padding-right: 8px; */
}
.social-media li:nth-child(1),.social-media li:nth-child(5){
    padding-left: 90px;
}
.social-media li:nth-child(2),.social-media li:nth-child(4){
    padding-left: 50px;
}

iframe{
    margin-bottom: 10px;
}

.footer{
    
    transition: 1s;
   
    border-color: rgba(0, 0, 0, 0.5);
    transition: 1s;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
     background: transparent;
   
   
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    transition: 0.5s; 

    text-align: center;
   
    padding: 20px;
  
}
.footer-p{
    font-family: serif;
    font-size: 16px;
    color: #fff;
}

/*********************کد صفحات

/******About page......*/
.Aboute-section{
    margin-top: 10px;
    text-align: center;
    font-family: serif;
    color: #fff;
height: 200px;
    font-size: 20px;
    margin-bottom: 150px;
  

}
.Aboute-content{
    width: 70%;
    text-align: center;
    margin: auto;
}
.p-sections{
    color: #fff;
}
.testimonials-section{
     background:white;
    text-align: center;
    font-family: serif;
   margin-bottom: 100px;
    font-size: 20px;
    padding-bottom: 100px;

}
.testimonials-section p{
    font-size: 16px;
}
.testimonials-section h2{
    color: teal;
}
.testiminialas-content{
    width: 30%;
    text-align: center;
    margin: auto;
}
.testiminialas-content i{
    color: black;
    font-size: 25px;
    padding: 5px;
}
/***************team page************************************/
.team-section{
    margin-top: 70px;
    margin-bottom: 30px;
    text-align: center;
    font-family: serif;
  
    font-size: 20px;
    padding-bottom: 40px;
  
}
hr{
    border-top: 2px solid #488E69;
   
}
.team-section p{
    color: #fff;
    font-family: serif;
    font-size: 16px;
}

.team-card{
   width: 420px;
  
   }
   .team-card:hover{
       background: teal;
   }
.card .img-team{
 width: 90px;
    height: 90px;
    margin: auto;
    border-radius: 50px;
    margin-top: 20px;
    object-fit: cover;
}
.card .img-link img{
    width: 30px;
    height: 30px;
    border-radius: 60px;
    margin: 5px;
}
.income-home{
    height: 370px;;
}
.html-progress.progress-bar{
    background: rgba(0, 0, 0, 0.08);
}
.home-button{
    margin-top: 70px;
}
.card{
    margin: auto;
    height: 300px;
    padding-bottom: 50px;
    border-color: rgba(0, 0, 0, 0.3);
    transition: 1s;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
    color: black;;
    transition: 0.5s; 
     margin-bottom: 8px;
     border-color: rgba(0, 0, 0, 0.5);
     transition: 1s;
     box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
      background: transparent;
    
    
     -webkit-backdrop-filter: blur(10px);
     backdrop-filter: blur(10px);
     transition: 0.5s; 

}
.card:hover{
    transform: scale(1.05);
    z-index: 2;

}
.card-text{
    font-size: 20px;
    padding: 10px;
    color: black;
    font-family: serif;
}

.main-text{
    width: 400px;
    color: white;
margin: auto;
padding-top: 20px;
}


.top-section{
    margin-top: 60px;
    text-align: center;
    width: 100%;
    background: transparent;
    -webkit-backdrop-filter: blur(3px);
      backdrop-filter: blur(3px);
      transition: 0.5s; 
   
 
}
.main-section{
    background: white;;
    text-align: center;
    width: 100%;
}

h2{
    text-align: center;
    font-family: serif;
    padding: 20px;
    font-weight: bold;
    color:white;
}
.blance-card{
    transition: 1s;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
    
    color: #fff;
    margin-top: 10px;
    border-radius: 10px;
    
     height: 50vh;
   
    
 
}
.testimesioal-section{
    background: white;
   padding-bottom: 100px;
    margin-top: 20px;
}
.testimesioal-card{
    width: 420px;
    height: 300px;
    border-radius: 10px;
    margin: auto;
    padding: 20px;
    transition: 1s;
    color: black;;
    transition: 0.5s; 
     margin-bottom: 8px;
     border-color: rgba(0, 0, 0, 0.5);
     transition: 1s;
     box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
     background: white;
    
    
    
}


.icon-card{
padding-bottom: 100px;
}
.icon-card i{
    padding: 10px;
    margin: 10px;
    font-size: 45px;
    color: teal;
    background: rgba(0, 0, 0, .1);
    border-radius: 10px;
}

.card-title{
    font-size: 20px;
    font-weight: 100;
}
.card-text{
    color: #9799ab;
    font-size: 18px;
}
/*********Contact page..............*/
.contact-container{
    transition: 1s;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
     background: transparent;
  -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    transition: 0.5s; 
    color: #fff;
width: 400px;
    height: 730px;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 30px;
    border-left: 3px solid teal;
}
.contact-section h4{
    margin-top: 100px;
    font-size: 30px;
    text-align: center;
    padding: 10px;
}
 #contact-lable{
    color: white
}
.Submit-button{
    margin: 0;
    width: 100%;
   
    transition: 1s;
    box-shadow: 0 0 20px 2pxrgba(0, 0, 0, .1);
     background: teal;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    transition: 0.5s; 
     color: #fff;
}
.Submit-button:hover{
    background: green;
    }
 .contact-input{
    width: 100%;
    padding: 16px 16px 10px 8px;
    border-radius: 10px;
     border-color: rgba(0, 0, 0, 0.5);
    transition: 1s;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
     background: transparent;
    -webkit-backdrop-filter: blur(280px);
    backdrop-filter: blur(280px);
    transition: 0.5s; 
     color: #fff;
}
.contact-input:focus{
    border-color: teal;
}

textarea{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border-color: rgba(0, 0, 0, 0.5);
    transition: 1s;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
     background: transparent;
    color: #fff;
    -webkit-backdrop-filter: blur(280px);
    backdrop-filter: blur(280px);
    transition: 0.5s; 
}
h4{
    font-family: serif;
  font-size: 40px; 
  
}
label{
    font-family: serif;
    font-size: 20px;
}
iframe{
    margin-top: 6px;
    border-radius: 20px;
}




/*********************************************************************Log in ************************/
.login--container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  
    height: 760px;
}
.box{
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 60px 20px 30px 20px;
 
    height: 620px;
    width: 350px;
    border-left: 4px solid teal;
    border-radius: 30px;
    transition: 1s;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
     background: transparent;
   -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    transition: 0.5s; 
     overflow: hidden; 
} 
.box-login{
    position: absolute;
    width: 85%;
  
    left: 27px;
    transition: .5s ease-in-out;

}
.box-register{
    position: absolute;
    width: 85%;
    right: -350px;
   
    transition: .5s ease-in-out;

}
.box-login input{
    padding-right: 80px;
}
.box-register input{
    padding-right: 80px;
}  
.login-input{
    width: 100%;
    padding: 16px 16px 10px 8px;
    border-radius: 10px;
    
    border-color: rgba(0, 0, 0, 0.5);
    transition: 1s;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
     background: transparent;
    
    -webkit-backdrop-filter: blur(280px);
    backdrop-filter: blur(280px);
    transition: 0.5s; 
     color: #fff;
}


.top-header{
    text-align: center;
    margin: 30px 0;
    color: white;
}
.top-header h3{  
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 8px;
  

}
.input-group{
    width: 100%;
}
.input-field{
    margin: 12px 0;
  
   
    position: relative;
   
font-size: 15px;
color: black
}

.input-field label{
    position: absolute;
    left: 20px;
    top: 15px;
 
    font-size: 15px;
    color: white;
    transition: .3s ease-in-out;
}
.login-input:focus~label,.login-input:valid~label{
    top: 1px;
    font-size: 15px;
    color:lightseagreen;
    font-weight: 500;
    border-color:teal;
}
.eye-area{
    position: absolute;
    top: 25px;
    right: 25px;
}
.eye-box{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
i{
    position: absolute;
    color: #cccccd;
    cursor: pointer;

}
#eye,#eye2{
    opacity: 1;
}
#eye-slash,#eye-slash-2{
    opacity: 0;
}
.remember{
    display: flex;
    font-size: 13px;
    margin: 15px  15px 0;
    color: teal;
  
  
   
}
.cheack{
    margin-right: 8px;
    width: 14px;
  
}
 .log-submit{
     text-align: center;
   outline: none;
    border: none;
    padding: 10px;
border-radius: 4px;
    color: white;
    background: teal;
    width: 100%;
  }

.forget{
    text-align: center;
    font-size: 13px;
    margin-top: 40px;

}
.forget a{
    text-decoration: none;
    color: white;
   
}
/* ****************Switch****************************************/
.switch{
    display: flex;
    position: absolute;
    bottom: 50px;
    left: 25px;
    width: 85%;
    height: 50px;

    border-color: rgba(0, 0, 0, 0.5);
    transition: 1s;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
     background: rgba(148, 203, 207, 0.5);
    
    -webkit-backdrop-filter: blur(280px);
    backdrop-filter: blur(280px);
    transition: 0.5s; 
     color: #fff;
    border-radius: 30px;
    overflow: hidden;
}
.switch a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    color:white;
    text-decoration: none;
    width: 50%;
    border-radius: 10px;
    z-index: 10;
}
#btn{
    position: absolute;
bottom: 0;
left: 0;
width: 145px;
height: 50px;
background:teal;
border-radius: 10px;
transition: .5s ease-in-out;

}
/***************************************************
**********Scrol Anomatin*************************
***************************/

    @keyframes appear {
        form{
            opacity: 0;
            scale:0.5
        }
        to{
            opacity: 1;
            scale:1;
        }
        
    }
    .card{
        animation: appear 5s linear;
        animation-timeline:card();
}

/*********************Dashboard**************************************************/




.grid-container {
    display: grid;
    grid-template-columns: 260px 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      "sidebar header header header"
      "sidebar main main main";
    height: 100vh;
  }
  /* ---------- HEADER ---------- */
  .header {
    grid-area: header;
    height: 70px;
   
  color: white;
  font-family: serif;
  font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
  }
 
.header h3{
    font-family: serif;
}
  .menu-icon {
    display: none;
  }
  .menu-icon span{
      color:white;
      font-size: 30px;
  }
  .header-right img{
      height: 50px;
      width: 50px;
      cursor: pointer;
      border-radius: 50px;
object-fit: cover;
margin-left: 4px;
  }
  .header-right span{
      color:white;
      margin: 12px;
  }
  

/* ---------- SIDEBAR ---------- */

#sidebar {
    grid-area: sidebar;
    height: 100%;
    /* background-color: #21232d; */
    color: white;
    overflow-y: auto;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: 1s;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
     background: transparent;
    border-right: 3px solid rgba(62, 152, 158, 0.5);
  border-radius: 10px;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px); 
    
    transition: 0.5s; 
  }
  .sidebar-brand .sidebar-img{
    width: 70px;
    height: 70px;
    padding: 8px;
    border-radius: 50px;
    object-fit: cover;
  
}
  .sidebar-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 20px 20px;
    margin-bottom: 20px;
   
  }
  
  .sidebar-title > span {
    display: none;
  }
  
  .sidebar-brand {
    margin-top: 15px;
    font-size: 40px;
    font-weight: 700;
    font-family: serif;
   color: #ccc;

  }
  
  .sidebar-list {
    padding: 0;
    margin-top: 15px;
    list-style-type: none;
  
  }
  
  .sidebar-list-item {
    padding: 20px 20px 20px 20px;
  
  }
  .Logout{
      margin-top: 100px;
  }
  
  .sidebar-list .sidebar-list-item a:hover span{
   
    cursor: pointer;
   
    margin-left: 1rem;
  }
  
  .sidebar-list-item > a {
    text-decoration: none;
   
    color: white;
  }
  
  .sidebar-responsive {
    display: inline !important;
    position: absolute;
 
    z-index: 12 !important;
  }
   /* ---------- SCROLLBARS ---------- */
  
   ::-webkit-scrollbar {
    width: 5px;
    height: 6px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #a5aaad;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: teal;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #a5aaad;
  }
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         
  
  
    /* ---------- MAIN ---------- */

.main-container {
    grid-area: main;
    overflow-y: auto;
    padding: 20px 20px;
  }
  
  .main-title {
    display: flex;
    justify-content: space-between;
  }
  
  .main-title > p {
    font-size: 20px;
  }
  

  .card-content{
    
 font-size: 20px;
      display: flex;
      justify-content: space-between;
  }
  .card-content p{
    font-family: serif;
    font-weight: 500;
  }
  
 
  .dashboard-card{
    padding: 20px;
   border-radius: 10px;
   height: 150px;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
    background: transparent;
   
   border: rgba(0, 0, 0, 0.5);
   -webkit-backdrop-filter: blur(15px);
   backdrop-filter: blur(15px);
   transition: 0.5s; 
margin: auto;
margin-bottom: 8px;
border-left: 5px solid teal;

  }
  .dashboard-card:hover{
    transform: scale(1.01);
    z-index: 2;
    background: teal;
  }
  .amount{
      padding-top: 20px;
      font-family: serif;
      color: white;
      font-size: 20px;
  }
  .card-icon-income{
    font-size: 30px;
    color: green;
  }
  .card-icon-expenses{
        font-size: 30px;
        color:  #cc3c43;
  }
  .card-icon-budget{
    color: white;  font-size: 30px;

  }
  .card-icon-transection{
    color: white;
    font-size: 30px;
  
  }
  
  .card:first-child {
    border-left: 7px solid teal;
  }
  
  .card:nth-child(2) {
    border-left: 7px solid teal;
  }
  
  .card:nth-child(3) {
    border-left: 7px solid teal;
  }
  
  .card:nth-child(4) {
    border-left: 7px solid #cc3c43;
  }
  
  .card > span {
    font-size: 20px;
    font-weight: 600;
  }
#sidebar .sidebar-list .active{
      background: teal;
      color: white;

  }
  
  
  .dashboard-box{
     
      height: 300px;
      border-radius: 10px;
      box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
      background: transparent;
     height: 300px;
     border: rgba(0, 0, 0, 0.5);
     -webkit-backdrop-filter: blur(20px);
     backdrop-filter: blur(20px);
     transition: 0.5s; 
  margin: auto;
  margin-bottom: 8px;
  border-left: 5px solid teal;

  }
  /* ---------- SCROLLBARS ---------- */
  
  ::-webkit-scrollbar {
    width: 5px;
    height: 6px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #a5aaad;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: teal;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #a5aaad;
  }
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         
  
  /* ---------- MEDIA QUERIES ---------- */
  
  
  /* Medium <= 992px */
  @media screen and (max-width: 992px) {
    .grid-container {
      grid-template-columns: 1fr;
      grid-template-rows: 0.2fr 3fr;
      grid-template-areas:
        "header"
        "main";
    }
  
    #sidebar {
      display: none;
    }
  
    .menu-icon {
      display: inline;
    }
  
    .sidebar-title > span {
      display: inline;
    }
  }
  
  /* Small <= 768px */
  @media screen and (max-width: 768px) {
    .main-cards {
      grid-template-columns: 1fr;
      gap: 10px;
      margin-bottom: 0;
    }
  
    .charts {
      grid-template-columns: 1fr;
      margin-top: 30px;
    }
  }
  
  /* Extra Small <= 576px */
  @media screen and (max-width: 576px) {
    .header-left {
      display: none;
    }
  }

/*******************transiction managmetn****************************************************/
#trasactioncount{

    display: flex; 
    /* margin-left: 240px; */
    justify-content: space-around;
  
    
    }
    #trasactioncount h2{
        font-size: 20px;
      
    }
.Transaction-container{
    display: flex; 
padding: 20px;
    justify-content: space-around;
 
   
}
.transection--row{
   
 /* height: 50vh; */
    width: 100%;
   
    padding: 20px;
 
}
.transection--form{
 
    margin: auto;
   
}

.formcontent{
   padding: 30px;
   transition: 1s;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
    width: 100%;
    border-radius: 20px;
   color: teal;
   border-left: 7px solid teal;
   background: transparent;
  
   border: rgba(0, 0, 0, 0.5);
   -webkit-backdrop-filter: blur(20px);
   backdrop-filter: blur(20px);
   border-left: 4px solid teal;
   transition: 0.5s; 
 
    }
    .history{
    height: 100%;
    width: 100%;
    overflow:scroll;
    }
    #transaction-form input{
      
       border-radius: 10px;
       border-color: rgba(0, 0, 0, 0.5);
       transition: 1s;
       box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
        background: transparent;
       -webkit-backdrop-filter: blur(280px);
       backdrop-filter: blur(280px);
       transition: 0.5s; 
        color: #fff;
     
      
        }
        #transaction-form input :focus{
            border-color: teal;
        }
      #type{
        background: teal;
        border-radius: 10px;
        background :teal;
        color: white;
       /* width: 90px; */
       font-size: 12px;
       margin: auto;
       display: block;
      }
      #type:hover,
#ype:active{
  color: black;
  background-color: teal;
}
#transaction-form button{
  
  margin: auto;
    color: #fff;
    background-color:teal;
    /* border-radius: 20px; */
    width: 100%;
    margin-top: 4px;
  
  }
  #transaction-form button:hover,
#transaction-form button:active{
  color: white;
  background-color: teal;
}

form input, form select, form button {
  margin-bottom: 20px;
  padding: 12px;
  width: 100%;
  
  border-radius: 7px;
 font-size: 12px;
  margin-top: 3px;

}
.chart-section{
    background: transparent;
       -webkit-backdrop-filter: blur(5px);
       backdrop-filter: blur(5px);
       transition: 0.5s;  
       border-left: 7px solid teal;
       border-radius: 10px;
}
.chart-section h4{
    color: white;
    font-size: px;
    padding: 20px;
}

/****************************charts***************************************8*/
.chart-card{
    border-radius: 10px;
   
    background: transparent;
 padding-bottom: 50px;
  margin: 5px;
   border: rgba(0, 0, 0, 0.5);
   -webkit-backdrop-filter: blur(20px);
   backdrop-filter: blur(20px);
   border-left: 7px solid teal;
   transition: 0.5s; 
   box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
  
}
.chart-section{
    margin-top: 20px;
  
}
.chart-title {
 display: flex;
 justify-content: center;

 font-size: 20px;

 font-family: serif;
  color: white;
}


/****************************Saving goals********************************/
.saving-goal{
    margin: auto; 
    font-size: 20px;
  
}
.calculator-container{
  
   padding: 20px;
  
    justify-content: center;
    align-items: center;
   border-radius: 20px;
   transition: 1s;
   box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
    background: transparent;
 -webkit-backdrop-filter: blur(20px);
   backdrop-filter: blur(20px);
   transition: 0.5s; 
   color: #fff;
   border-left: 7px solid teal;
 
}
.form-group input{
    background: transparent;
    -webkit-backdrop-filter: blur(20px);
      backdrop-filter: blur(20px);
      transition: 0.5s; 
      color: #fff;
      border-color: rgba(0, 0, 0, 0.5);

}
.icon--top{
  width: 100px;
    font-size: 40px;
    color: teal;
      margin:auto;
}
.icon--top span{
   
    text-align: center;
    justify-content: center;
}
.claculat-again{
    width: 100%;
}
#savingsFrequency{
    background: teal;
    color: white;
}
.calculator-container label{
    text-align: left;
}


/